body{
    color: white;
    text-align: center;
}

.outer{
    background: lightskyblue;
    width:500px;
    padding-bottom: 80px;;
    border:black solid 3px;
    border-radius: 10px;
}

.inner{
    background: black;
    border:black solid 1px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.inner in div{
    text-align: center;
    color: white;
}

.space1{
    font-style: oblique;
}

.space1 p {
    color: skyblue
}

.space2{
    font-style: normal;
    border: white solid 1px;
    border-radius: 10px;
    position: relative;
    top:30px;
    background: black;
}

.space2 p{
    color:lightgray;
}
